/* public/css/styles.css */

#notification {
  margin-top: 1em;
  color: green;
}

.alert {
  padding: 1em;
  margin-bottom: 1em;
}

.alert-success {
  background-color: #e5f8e5;
  color: #2d702d;
}

.alert-danger {
  background-color: #fde5e5;
  color: #b22222;
}
