/* Adjust the toast position to be below the navbar */
.custom-toast-position {
  top: 80px !important; /* Move the toast down 80px; adjust as needed */
}

/* On mobile devices, ensure the toast is centered and below the navbar */
@media only screen and (max-width: 768px) {
  .custom-toast-position {
    top: 0px !important; /* Move the toast down 80px; adjust as needed */
    left: 50% !important; /* Center horizontally */
    transform: translateX(-50%) !important; /* Center the container */
  }
}